body{  
    background:#222;  
    color:#666;  
}  
hr{  
    margin: 20px;  
    border:none;  
    border-top: 1px solid #111;  
    border-bottom: 1px solid #333;  
}  
p{  
    color:#444;  
    text-align:left;  
    margin-left: 5px;  
    margin-bottom: 5px;  
}  
.tweet:hover .layover {  
    color:#F6F;  
    visibility: visible;
}
p.error{  
    color:#FF7878;  
}
p.protected{  
    color:#C0C0C0;  
}
#footer{  
    text-align: center;
    font:20px bold; 
    height:40px;
}
#header{
    text-align: center;
    position:fixed;
    top:0px;
    margin:auto;
    z-index:100000;
    width:100%;
}
a.header {  
    color:#666;  
}  
.layover {  
    visibility: hidden;
}  
a{  
    color:#444;  
}
span.plus {  
    color:#0F0;  
}  
span.red {  
    color:#F00;  
}  
.plus:before {
    content: "+ ";
    color:#0F0;
    font:20px bold;
    height:40px;
}
.minus:before {
    content: "- ";
    color:#F00;
    font:20px bold;
    height:40px; 
}
